@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300&display=swap');

*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', 'Arial', non-serif;
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  background: #416a59;
  padding: 20px;
}

a {
  text-decoration: none;
  padding: 0 15px 0 15px;
  color: white;
  font-size: 1.2em;
}

a:hover {
  color: #b5e494;
  transition: 1s;
}

li {
  color: white;
  text-decoration: none;
}

h3 {
  margin-left: 30px;
}

input {
  display: block;
  border: 0.5px solid lightgray;
  flex-direction: column;
  margin: 10px 0 10px 30px;
  width: 50%;
  padding: 5px;
}

.add-product {
  margin-top: 50px;
}

.product-title {
  font-weight: bold;
  color: gray;
}
